<h2>Settings</h2>
<p>Your &quot;real name&quot; is taken from the Common Name (CN) field in the CSH LDAP database. You can change this field by using <a href="https://members.csh.rit.edu/profiles/">Member Profiles</a>. This may also change your displayed &quot;real name&quot; on other CSH services.</p>
<p>Currently there are no other settings to change.</p>
<div class="dialog_buttons">
  <a href="#" class="button dialog_cancel">OK</a>
</div>
