<h2>Settings</h2>
<p>Settings would be here, if any of them were implemented yet.</p>
<div class="dialog_buttons">
  <a href="#" class="button green">Save</a>
  <a href="#" class="button red dialog_cancel">Cancel</a>
</div>
