<div id="dialog">
  <h2>About WebNews</h2>
  
  <p>WebNews is a Ruby on Rails app brought to you by Alex Grant, a.k.a. <a href="https://wiki.csh.rit.edu/wiki/User:Grantovich">Grantovich</a>. Detailed documentation is available through the <a href="https://wiki.csh.rit.edu/wiki/WebNews">WebNews page</a> on the CSH wiki.</p>
  
  <p>The WebNews code lives on <a href="https://github.com/grantovich/CSH-WebNews">GitHub</a>. Bug reports and feature requests should be submitted to the <a href="https://github.com/grantovich/CSH-WebNews/issues">issue tracker</a>.</p>
  
  <h3>About News</h3>
  
  <p><a href="https://wiki.csh.rit.edu/wiki/News">CSH News</a> is an early-90s-era anachronism that has somehow survived multiple complete hard drive failures and pretty much refuses to die. You can read more about <a href="http://en.wikipedia.org/wiki/InterNetNews">InterNetNews</a> (INN), the server software that runs the CSH newsgroups, and <a href="http://en.wikipedia.org/wiki/Network_News_Transfer_Protocol">NNTP</a>, the Network News Transfer Protocol that WebNews uses to interact with it.</p>
  
  <div class="buttons">
    <a href="#" class="button dialog_cancel">Close</a>
  </div>
</div>
