<h3>New and Active Threads</h3>
<p class="explain">over the past 7 days (excluding control, lists, and csh.test)</p>

<table class="activity">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Author</th>
      <th>Newsgroup</th>
      <th>Newest Post</th>
    </tr>
  </thead>
  <tbody>
    <% @active_threads.each do |post, date| %>
      <%= render :partial => 'activity_row', :locals =>
        { :post => post, :date => date, :unread => post.thread_unread_for_user?(@current_user) } %>
    <% end %>
  </tbody>
</table>
