<h3>Active Threads</h3>
<p class="explain">Threads with new replies in the past 7 days</p>

<table class="activity">
  <% @active_threads.each do |post, date| %>
    <%= render :partial => 'activity_row', :locals => { :post => post, :date => date } %>
  <% end %>
</table>

<h3>New Threads</h3>
<p class="explain">Threads started in the past 7 days with no replies yet</p>

<table class="activity">
  <% @recent_threads.each do |post| %>
    <%= render :partial => 'activity_row', :locals => { :post => post, :date => post.date } %>
  <% end %>
</table>
