<div id="group_buttons">
  <a class="new_posts" href="#!<%= posts_path(@newsgroup.name) %>"></a>
  <% if @newsgroup.status == 'y' %>
    <a class="button" href="#?<%= new_post_path(:newsgroup => @newsgroup.name) %>">Post New</a>
  <% end %>
  <!-- <a class="button" href="#">Search Group</a> -->
</div>
<div id="group_header">
  <h2><%= @newsgroup.name %></h2>
</div>
<div id="posts_list">
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%= yield %>
    </tbody>
    <tfoot id="posts_load">
      <th colspan="3" class="spinner">Loading more posts...</th>
    </tfoot>
  </table>
</div>
