$bg_light: #f5f5f5;
$bg_toolbar: #ddd;
$border_light: #ddd;
$border_button: #bbb;
$border_pane: #444;

$text_dark: #111;
$text_normal: #444;
$text_light: #999;
$link_hover: #77c;

body, select, input, textarea { color: $text_normal; }

@mixin links {
  a {
    color: $text_dark;
    text-decoration: underline;
    &:hover { color: $link_hover; }
  }
}

@mixin highlights {
  &.selected { background-color: #dddfff !important; }
  &:hover { background-color: #eeefff; cursor: pointer; }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form_element {
  margin-bottom: 1em;
}

fieldset {
  border: 1px solid $border_light;
  border-radius: 2px;
  margin-bottom: 1em;
  padding: 0 10px;
  padding-top: 0.5em;
  .form_element { margin-bottom: 0.75em; }
  legend { color: $text_light; }
}

h2 {
  font-size: 200%;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 140%;
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  color: $text_dark;
  font-family: monospace;
}

b { font-weight: bold; }
i { font-style: italic; }

.unread { color: $text_normal !important; font-weight: bold; }
.mine { color: #1b1 !important; }
.mine_reply { color: #d1d !important; }
.mine_in_thread { color: #11f !important; }

#toolbar {
  height: 32px;
  line-height: 24px;
  padding: 8px 0 0 10px;
  background-color: $bg_toolbar;
  border-bottom: 2px solid $border_button;
  
  h1 {
    color: #bbb;
    font-size: 160%;
    vertical-align: middle;
    display: inline;
    .beta { color: #d77; }
  }
  
  #user_info {
    float: right;
    
    .real_name {
      font-weight: bold;
    }
    
    .username {
      color: $text_light;
    }
  }
}

.buttons {
  .explain {
    display: inline-block;
    padding: 0 6px;
    color: $text_light;
  }
}

.button, input[type="submit"] {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 6px;
  margin-right: 8px;
  margin-top: -2px;
  border: 2px solid $border_button;
  border-radius: 2px;
  background-color: $bg_light;
  font-weight: bold;
  
  &:first-of-type {
    margin-left: 8px;
  }
  
  &:hover {
    color: $bg_light;
    background-color: $border_button;
  }
  
  &:active {
    opacity: 0.7;
  }
  
  &.green {
    border-color: #0b0;
    &:hover { background-color: #0b0; }
  }
  
  &.red {
    border-color: #b00;
    &:hover { background-color: #b00; }
  }
  
  &.blue {
    border-color: #77f;
    &:hover { background-color: #77f; }
  }
  
  &#next_unread[href="#"] {
    color: $border_button;
    &:hover { background-color: $bg_light; }
  }
}

input[type="submit"] { margin-right: 0; }

#groups_list {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 230px;
  margin-top: 2px;
  padding: 10px;
  border-right: 2px solid $border_pane;
  overflow: hidden;
  white-space: nowrap;
  
  a {
    display: block;
    padding: 0 5px;
  }
  
  li {
    @include highlights;
  }
  
  .read_only {
    color: $text_light;
  }
}

#external_links {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  margin-right: 2px;
  color: $text_light;
  background-color: $bg_toolbar;
  border-top: 1px solid $border_button;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 0.25em;
  
  a {
    color: $text_normal;
    text-decoration: none;
    &:hover { color: $link_hover }
  }
}

#dashboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  
  p {
    @include links;
    margin-bottom: 2em;
    
    &.explain {
      margin-top: -1em;
      margin-bottom: 1em;
      font-size: 80%;
      color: $text_light;
    }
  }
  
  table.activity {
    line-height: 1.5;
    margin-bottom: 2em;
    
    tbody {
      border-top: 1px solid $border_light;
      border-bottom: 1px solid $border_light;
    }
    
    a {
      color: $text_normal;
      &:hover { opacity: 0.7; }
    }
    
    th {
      text-align: left;
    }
    
    td {
      color: $text_light;
      padding-right: 15px;
    }
  }
}

#group_view {
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 250px;
  right: 0;
  bottom: 50%;
  margin-top: 2px;
  margin-left: 2px;
  border-bottom: 2px solid $border_pane;
  
  &>.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
  }
  
  #group_header {
    padding: 10px;
  }
  
  .buttons {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    
    .new_posts {
      color: #cc0;
      font-weight: bold;
      text-decoration: underline;
      margin-right: 14px;
      &:hover { color: #dd0; }
    }
  }
  
  #posts_list {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid $border_light;
  
    table {
      width: 100%;
      line-height: 1.5;
      table-layout: fixed;
      
      tbody tr {
        @include highlights;
      }
      
      th, td {
        padding: 0 5px;
        @include ellipsis;
      }
      
      th {
        width: 20%;
        text-align: left;
        background-color: $bg_light;
        border: 1px solid $border_light;
        border-top: 0;
        border-right: 0;
        
        &:first-child {
          width: auto;
          border-left: 0;
        }
      }
      
      tfoot th {
        padding-left: 22px;
        border-top: 1px solid $border_light;
        
        &.spinner {
          background-repeat: no-repeat;
          background-position: left center;
          background-image: url('spinner-sm.gif');
        }
      }
      
      .indent {
        @include ellipsis;
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: left center;
        
        &.expandable { background-image: url('expander-closed.png'); }
        &.expanded { background-image: url('expander-open.png'); }
      }
      
      tr[data-level]:not([data-level="1"]) {
        color: $text_light;
      }
    }
  }
}

#post_view {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 250px;
  right: 0;
  bottom: 0;
  margin-top: 1px;
  margin-left: 2px;
  
  .buttons {
    z-index: 1;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  
  h3 {
    margin-bottom: 0;
  }
  
  .byline {
    color: $text_light;
    font-weight: bold;
    padding: 0.25em 0;
    border-bottom: 1px solid $border_light;
    
    .author { color: $text_normal; }
  }
  
  #post_content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .headers, .body {
    @include links;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-right: 10px;
  }
  
  .headers {
    margin-top: 1em;
    color: $text_light;
  }
  
  .body {
    color: $text_dark;
    margin: 1em 0;
    
    blockquote                       { color: #077; }
    blockquote blockquote            { color: #770; }
    blockquote blockquote blockquote { color: #707; }
  }
}

#overlay_dimmer {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
}

#dialog {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 700px;
  padding: 10px;
  background-color: $bg_light;
  border: 2px solid $border_light;
  border-top: 0;
  
  .buttons {
    text-align: right;
    margin-top: 10px;
  }
  
  .loading, .errors {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  .loading { color: #0b0; }
  .errors { color: #d00; }
  
  p, ul {
    @include links;
    margin-bottom: 1.25em;
  }
  
  input[type=text], textarea {
    width: 99%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#ajax_error {
  position: absolute;
  z-index: 15;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-weight: bold;
  background-color: #ffc;
  border-bottom: 2px solid #ee9;
}
